<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div style="width: 50%; margin: 25px auto;">
            <h1 class="text-center">Create a new Campground</h1>
            <form action="/campgrounds" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Campground name">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="url" class="form-control" name="image" id="image" placeholder="Image url">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Add Campground</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ../partials/footer %>